################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameworkTask/MoyoFramework/obj/Debug
/FrameworkTask/MoyoFramework/bin/Debug
/FrameworkTask/packages
/FrameworkTask/.vs
